<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TSF Bank - Banking</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav>
        <div class="top-bar">
            <a href="/" class="title">
                TSF Bank
                </a>
    
                <a href="/contact" class="link">
                    Contact us
                </a>
    
                <a href="/about" class="link">
                    About
                </a>

                <a href="/transactions" class="link">
                    Transactions
                </a>
    
                <a href="/banking" class="link">
                    Banking
                </a>
    
                <a href="/" class="link">
                    Home
            </a>
        </div>
    </nav>



    <h1 class="heading">
        *** ALL TRANSACTION DETAILS ***
     </h1>
   
     <!-- table  -->
     <div class="container">
           <div class="table-responsive">
               <table class="table table-hover table-bordered">
                   <thead>
                       <tr class="table-danger">
                           <th scope="col">Sl. No.</th>
                           <th scope="col">Sender</th>
                           <th scope="col">Receiver</th>
                           <th scope="col">Amount Transferred</th>
                           <th scope="col">Date</th>
                       </tr>
                   </thead>
                   
                   <tbody>
                      
                        <% for( let index = transactions.length-1,i=1; index>=0; --index ,i++) { %>
                            <%  const transaction=transactions[index] %>
                            <tr class="table-light">
                                <td scope="row"> <%= i %> </td>
                                <td> <%= transaction.sender %> </td>
                                <td> <%= transaction.receiver %> </td>
                                <td> <%= transaction.amount.toFixed(2) %> </td>
                                <td> <%= transaction.createdAt.toLocaleString() %> </td>
                            </tr> 
                        <% } %>
                   </tbody> 
               </table>
           </div>
     </div>

     <!-- Footer -->
<footer class="page-footer font-small cyan darken-3">
    <br> <br>
    <h3> Let's get connected and work together </h3>

    <!-- Footer Elements -->
    <div id="contact" class="container">
  
      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">
  
            <!-- Facebook -->
            <a class="fb-ic" href="https://www.facebook.com/papansarkar1.1" target="_blank">
              <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x" aria-hidden="true"></i>
            </a>
            <!-- Linkedin -->
            <a class="ln-ic" href="https://www.linkedin.com/in/papansarkar101/" target="_blank">
              <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- github +-->
            <a class="git-ic" href="https://github.com/papansarkar101" target="_blank">
              <i class="fa fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- instagram -->
            <a class="in-ic" href="https://www.instagram.com/papansarkar101/" target="_blank">
              <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <a class="tw-ic" href="https://twitter.com/papansarkar101" target="_blank">
                <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
    <!-- Footer Elements -->
    
    

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <br>
      This Porject is made by <a href="https://www.linkedin.com/in/papansarkar101/"> Papan Sarkar </a> while doing internship in <a href="https://www.thesparksfoundationsingapore.org/"> The Sparks Foundation </a> <br>
      © 2020 Copyright:<a href="https://github.com/papansarkar101"> Papan Sarkar </a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

</body>
</html>